<h1>Success!</h1>
<h3>You've successfully added/updated a book to the library</h3>

<form action="/back" method="get">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" name="return_button" class="btn btn-primary btn-lg btn-block">Return</button>
    </div>
  </div>
</form>
