<h1>Welcome to the Library!</h1>
<h2><a href="/librarian">Librarians click here!</a></h2>
<h2><a href="/patron">Patrons click here!</a></h2>

  <h2>Here are the library's books: </h2>
  <% @books.each do |book| %>
    <a href="/book/<%= book.id %>"><h3>Title: <%= book.title %> </h3></a>
    <h4>Author: <%= book.author %> </h4>
  <% end %>
