<!DOCTYPE html>
<html>
  <head>
    <title>Library System</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <!-- <link rel='stylesheet' href="<%= url('css/styles.css') %>"> -->
  </head>
  <body>
    <div class="container">
      <div class="header jumbotron">
      <h1>Library System</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
