<h1>Librarians View</h1>
<h3>Add a book to the collection</h3>
<h5>Note: please do not add special characters, including apostrophes, to the book name or author</h5>
<form action="/book_add" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input id="author" name="author" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
