<h2>Search for a Book</h2>
<form class="form-group" action="/librarian-search-result" method="post">
  <label for="title">Search a Title</label>
  <input type="text" id="title" name="title">
  <br>
  <label for="author">Search by Author</label>
  <input type="text" id="author" name="author">

  <button type="submit" class="btn btn-primary">Search</button>
</form>

<h2>Display all Outstanding Books</h2>
