<h1>Librarians</h1>
<form action="/book_add" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input id="author" name="author" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>

<h4><a href="/lib-books-list">Click here to see a list of books</a></h4>
<h4><a href="/lib-overdue-books">Click here to see a list of overdue books</a></h4>
