<h1>Success!</h1>
<h3><%=@name%> been successfully added to the library patrons</h3>
<h4>your new patron number: <%=@id%></h4>

<form action="/back" method="get">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" name="return_button" class="btn btn-primary btn-lg btn-block">Return</button>
    </div>
  </div>
</form>
